
#container {
    max-width: 50vw;
    justify-self: center;
} 

.center {
    text-align: center;
}

.thick {
    font-weight: 500;
}

.thicker {
    font-weight: 700;
}

.image {
    height: 200px;
    width: 200px;
}

.image_container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.image_item {
    display: flex;
    align-items: center;
    gap: 4px;
}