#forumsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}